/* bellefair-regular - latin */
@font-face {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  src: url("../file/bellefair-v14-latin/bellefair-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../file/bellefair-v14-latin/bellefair-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../file/bellefair-v14-latin/bellefair-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../file/bellefair-v14-latin/bellefair-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../file/bellefair-v14-latin/bellefair-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../file/bellefair-v14-latin/bellefair-v14-latin-regular.svg#Bellefair")
      format("svg"); /* Legacy iOS */
}
