/* reggae-one-regular - latin */
@font-face {
  font-family: "Reggae One";
  font-style: normal;
  font-weight: 400;
  src: url("../file/reggae-one-v14-latin/reggae-one-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../file/reggae-one-v14-latin/reggae-one-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../file/reggae-one-v14-latin/reggae-one-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../file/reggae-one-v14-latin/reggae-one-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../file/reggae-one-v14-latin/reggae-one-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../file/reggae-one-v14-latin/reggae-one-v14-latin-regular.svg#ReggaeOne")
      format("svg"); /* Legacy iOS */
}
